{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">

    <div class="col-md-12 mt-2">
        <h2>About Us</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, reprehenderit ab!
           A delectus et earum sunt dolores. Quis ducimus voluptatem quae tempora voluptatibus ipsa, 
           reiciendis ea esse asperiores. Deserunt, iste.</p>


    </div>

    <div class="col-md-6 mt-2">
        <h2>Vision</h2>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Officiis error reiciendis debitis non repellat delectus consectetur ut asperiores vero illum! 
           Eos error, suscipit impedit quis consequatur facere praesentium maxime perferendis.</p>
    </div>

    <div class="col-md-6 mt-2">
        <h2>Mission</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus consectetur quaerat itaque
            nihil quidem dolorum inventore repudiandae iste a sint labore aspernatur repellat, reprehenderit,
            sit, ullam nesciunt voluptatem. Fugit, doloremque.</p>
    </div>

    <h2 class="mt-5">Statistics</h2><hr>

    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">10000+</h1>

        <h3 class="text-center">Happy Customer</h3>

    </div>

    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">20000+</h1>

        <h3 class="text-center">Order Delivered..</h3>
        
    </div>

    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">600+</h1>

        <h3 class="text-center">Product Serviced</h3>
        
    </div>



</div>

<br>

{% endblock %}

