<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store|Add product</title>
</head>
<body>
    <table>
        <h1 align="center">Add Product Section</h1>
        <h4><a href="/home">Dashboard</a></h4>
        <form method="post" action="">
            {% csrf_token %}
            <table border="5px" align="center">
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" name="pname" placeholder="Enter Product Name"></td>
                </tr>
                <tr>
                    <td>product price:</td>
                    <td><input type="number" name="price" placeholder="Enter product Price"></td>
                </tr>
                <tr>
                    <td>product Qty:</td>
                    <td><input type="number" name="Qty" placeholder="Enter product Qty"></td>
                </tr>
                
                <tr><td>
                    <input type="submit" value="Add Product">
                </td></tr>
            </table>

        </form>
    </table>
</body>
</html>